* {
  margin: 0;
  padding: 0;
}

.container {
  width: 100%;
  font-family: sans-serif;
  line-height: 1.2em;
}

.showcase {
  height: 85vh;
  background-color: salmon;
  display: flex;
  justify-content: center;
  align-items: center;
}

.show-text {
  height: 400px;
  width: 600px;
  background: skyblue;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.about {
  height: 70vh;
  background-color: pink;
  display: flex;
  justify-content: center;
  align-items: center;
}

.about-text {
  height: 90px;
  width: 300px;
  background: skyblue;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}


.events {
  height: 60vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
  justify-content: center;
}

.launch, .map {
  background-color: yellow;
  width: 400px;
  height: 250px;
}

.sponsors {
  text-align: center;
}

.spons-item {
  display: flex;
  height: 50vh;
  background: teal;
  justify-content: space-around;
  align-items: center;
}

.s-item {
  background-color: yellow;
  width: 150px;
  height: 120px;
}


footer {
  background-color: black;
  color: #fff;
  display: flex;
  justify-content: space-around;
}

.social {
  display: flex;
}
