* {
  margin: 0;
  padding: 0;
  /* border: 1px dotted; */
}

body {
  line-height: 1.4em;
  font-family: 'Fira Sans Condensed', sans-serif;
  box-sizing: border-box;
}

.show-text a {
  text-decoration: none;
  padding: 10px;
  background: skyblue;
  border-radius: 10px;
}

.container {
  width: 100%;
  font-family: sans-serif;
  line-height: 1.2em;
}

.section-showcase {
  height: 85vh;
  background: linear-gradient(53deg, #ccfffc, #ffcccf);
  /* background: url('https://images.pexels.com/photos/4827/nature-forest-trees-fog.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260'); */
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  background-attachment: fixed;
}

.show-text {
  animation: showcase-text 0.5s 1 0s linear;
  height: 400px;
  width: 600px;
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.show-text h1 {
  font-size: 52px;
  padding: 10px;
}

.show-text p {
  font-size: 26px;
  padding: 14px;
}

.show-text a {
}

/* about */
#section-contact {
  /* background: skyblue; */
  /* position: relative; */
  margin-top: 50px;
  padding: 200px 0px 200px 0px;
  text-align: center;
}

.contact-text {
  display: inline-block;
  width: 485px;
  vertical-align: middle;
  padding-left: 95px;
  text-align: left;
}

.contact-text h2 {
  font-size: 42px;
  line-height: 51px;
  margin-bottom: 34px;
  position: relative;
}

.contact-text h2:before {
  content: '';
  height: 3px;
  width: 60px;
  border-radius: 2px;
  background-color: #2884f6;
  position: absolute;
  top: 23px;
  right: calc(100% + 35px);
}

.contact-text p {
  font-size: 1.5em;
  line-height: 1.7em;
}

.contact-action {
  display: inline-block;
  width: 485px;
  height: 100%;
  vertical-align: middle;
}

.contact-action i {
  background: #2884f6;
  color: white;
  padding: 25px;
  border-radius: 50%;
  margin: 10px 0;
}

.contact-action a {
  text-decoration: none;
  color: #e26a6a;
  /* display: inline-block; */
  /* position: relative; */
}

.contact-action a:hover i {
  /* transform: rotate(360deg); */
  background: #ffcccf;
  transition: 0.3s ease-in;
}

/* events */
.events {
  height: 60vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
  justify-content: center;
}
.events h1 {
  border: 1px solid;
}

.launch {
  background-color: yellow;
  display: flex;
  width: 400px;
  height: 250px;
}

.sponsor {
  text-align: center;
  margin-bottom: 20%;
}

.spons-item {
  width: 80%;
  margin: 0 auto;
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  height: 50vh;
  background: white;
  justify-content: center;
  align-items: center;
}

.s-item {
  margin: 20px;
}

.s-item img {
  display: inline-block;
  width: 200px;
  vertical-align: middle;
  padding: 20 20 20 20px;
}

footer {
  background-color: rgb(20, 19, 19);
  height: 20vh;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.social {
  display: flex;
}

.social img {
  margin: 10px;
  padding: 10px;
}

@keyframes showcase-text {
  0% {
    transform: translateY(-50px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

header {
  background-color: rgba(37, 37, 37, 0.8);
  display: flex;
  margin: 0 4em;
  padding: 1em;
  width: calc(100vw - 8em);
  z-index: 10;
  position: fixed;
  border-radius: 0 0 1em 1em;
  transform: translateY(-4em);
  transition: transform 0.5s ease-out;
}

header.active {
  transform: translateY(0);
}

header .logo {
  flex-grow: 1;
  padding-top: 0.25em;
}

header .logo img {
  width: 9em;
}

header nav {
  display: flex;
}

.nav-item {
  height: 1.5em;
  margin: 0 1.5em 0 0;
}

.nav-item a {
  color: #fff;
  text-decoration: none;
  font-size: 1.5em;
  padding: 0.25em;
  transition: all 0.2s linear, color 0.5s linear;
}

.nav-item a:hover {
  color: cornflowerblue;
  border-radius: 5px;
  background-color: #fff;
  box-shadow: #d3d3d3;
}
