/* global */
* {
  margin: 0;
  padding: 0;
}
html {
  scroll-behavior: smooth;
}

body {
  background: #f4f4f4;
  line-height: 1.5;
  font-family: 'ABeeZee', sans-serif;
  color: #fff;
}

a {
  color: #fff;
  text-decoration: none;
  font-size: 1.5em;
  padding: 0.25em;
}

/* header */

header {
  /* background-color: rgba(37, 37, 37, 0.8); */
  display: flex;
  padding: 2em;
  width: 100%;
  position: fixed;
  justify-content: space-around;
  /* transition: transform 0.5s ease-out; */
}

#logo {
  color: #fff;
}

nav {
  display: flex;
  justify-content: center;
}

.nav-item {
  height: 1.5em;
  margin: 0 1.7em 0 0;
}

.nav-item a {
  color: #fff;
  text-decoration: none;
  font-size: 1.5em;
  padding: 0.25em;
  transition: all 0.3s linear, color linear;
}

.nav-item a:hover {
  color: salmon;
}

/* showcase */

#showcase {
  background: url('https://images.pexels.com/photos/990818/pexels-photo-990818.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260');
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 95vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
  color: #fff;
  background-attachment: fixed;
}

.showcase-text {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.showcase-text h1,
p {
  font-size: 1.5em;
  padding: 12px;
}

h1 {
  font-size: 32px;
}

.signup {
  background: salmon;
  border-radius: 4px;
  padding: 9px;
}

/* about */

#about {
  background: url('https://images.pexels.com/photos/908284/pexels-photo-908284.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260');
  background-position: center;
  background-size: cover;
  height: 550px;
  color: #fff;
  display: flex;
  align-items: center;
}

.halo {
  background: rgb(200, 214, 229, 0.8);
  width: 75%;
  margin: 0 auto;
  z-index: 2;
}

#sponsor {
  height: 500px;
  background: url('https://images.pexels.com/photos/66997/pexels-photo-66997.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260');
  background-position: center;
  background-size: cover;
  display: flex;
  justify-content: center;
}

.circle {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin: 30px;
}

.circle img {
  border-radius: 50%;
}

#events {
  height: 400px;
  background: url('https://images.pexels.com/photos/129441/pexels-photo-129441.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260');
}

footer {
  height: 40px;
}
